/* Landing Page */

#landing-pg {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu {
    background-color: #fc5e2e;
    height: 100%;
}

@font-face {
    font-family: 'Hensa';
    src:url("../Style\ Guide/Fonts/Hensa/Hensa.otf")
}

#logo {
    text-align: center;
    font-family: 'Hensa';
    color: white;
    font-size: 1500%;
}

#tagline {
    text-align: center;
    padding-top: 20px;
    font-family: 'Lato';
    color: white;
    font-size: 200%;
}

.input-field label {
    color: white;
    font-family: 'Lato';
}

.input-field input:focus + label {
    color: white !important;
  }

#keyword-index {
    color: white;
    font-family: 'Lato';
    border-bottom: 1px solid white !important; 
}

#keyword-index:focus {
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
}


@media screen and (max-width: 780px){

    #logo{
        font-size: 1000%;
    }

    #tagline {
        font-size: 180%;
    }
}
@media screen and (max-width: 600px){

    #image {
        display: none;
    }
    
    #menu {
        background-color: #fc5e2e;
        height: 100%;
        width: 100%;
    }

    #logo{
        font-size: 1500%;
    }

    #tagline {
        font-size: 200%;
    }

}
