/********* Whole Site *********/

.container {
    max-width: none;
}

/********* Landing Page *********/

/* Whole Page */

#landing-pg {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Left Side of Page */

#image {
    height: 100%;
    padding: 0;
}
#landing-pg-img {
    height: 100%;
    width: 100%;
    margin: 0;
    float: left;
    overflow: scroll; 
}

/* Right Side of Page */

#menu {
    background-color: #fc5e2e;
    height: 100%;
    overflow: scroll;
}

@font-face {
    font-family: 'Hensa';
    src:url("../Style\ Guide/Fonts/Hensa/Hensa.otf")
}

#logo {
    text-align: center;
    font-family: 'Hensa';
    color: white;
    font-size: 1500%;
}

#tagline {
    text-align: center;
    padding-top: 20px;
    font-family: 'Lato';
    color: white;
    font-size: 200%;
    margin: 40px 0px 40px 0px;
}

/* Search Bar */

#search-bar {
    margin-left: 10%;
}

.input-field col m6 {
    margin-left: 15%;
}

.input-field label {
    color: white;
    font-family: 'Lato';
}

.input-field input:focus + label {
    color: white !important;
}

#keyword-index {
    color: white;
    font-family: 'Lato';
    border-bottom: 1px solid white !important; 
    display: inline;
}

#keyword-index:focus {
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;
}

#search-index {
    font-family: 'Lato';
    display: inline-block;
    background-color: white;
    color: #fc5e2e;
    margin-top: 20px;
}

/* Media Queries */

/* 780px - Tablet */
@media screen and (max-width: 780px) {

    /* Right Side of Page */

    #logo {
        font-size: 1000%;
    }

    #tagline {
        font-size: 180%;
    }

    /* Search Bar */

    #keyword-index {
        margin: 0 15% 0 15%;
    }

    .input-field label {
        margin: 0 15% 0 15%;
    }

    #search-index {
        margin: 15% 35% 0 35%;
    }

}

/* 600px - Phone */
@media screen and (max-width: 600px) {

    /* Left Side of Page */

    #image {
        display: none;
    }

    /* Right Side of Page */

    #responsive-colour {
        background-color: rgb(252, 94, 46, .65);
        margin: 0;
        z-index: 2;
        height: 100%;
    }
    
    #menu {
        background-image: url("../images/gift-landing-pg.jpg");
        background-size: 100% 100%;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    #logo {
        font-size: 1500%;
        margin: 0;
        padding-top: 10%;
    }

    #tagline {
        font-size: 200%;
    }

    /* Search Bar */
  
    #keyword-index, .input-field label {
        margin: 0;
        margin-top: 5%;
    }
  
    .input-field {
        width: 80%;
        margin: 0;
    }

    #search-index {
        margin: 15% 35% 0 40%;
    }

}

/********* Search Page *********/

/* Whole Page */

.sidenav {
    display: none;
}

#search-pg {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Lato';
}

/* Left Side of Page */

.search-tagline {
    font-size: 45px;
    margin: 0% 2% 2% 2%;
    padding-top: 2%;
}

#hamburger {
    display: none;
}

#whitespace {
    display: none;
}

#height-control {
    height: 100%;
    margin: 0;
}

#product-matrix {
    height: 73%;
    overflow: scroll;
    text-align: center;
}

/* Prodcuts */

h5 {
    font-family: 'Lato';
    color: #20b88f;
    font-size: 15px;
    margin: 0;
    text-align: left;
}

.display-item {
    margin: 10%;
}

#product-image {
    margin-bottom: 10px;
}

p {
    margin: 5px;
}

.fav-btn {
    border: none;
    margin-bottom: 30px;
}

.fav-btn:focus {
    background: none;
}

.fav-btn a {
    background: #20b88f;
    font-family: 'Lato';
}

/* Search Bar Right */

.btn-more {
    display: none;
    background-color:#20b88f;
}

.searchBarside {
    background-color:#20b88f;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    overflow: scroll;
}
    
#gifty {
    font-family: 'Hensa';
    color: white;
    font-size: 35px;
    float: left;
    padding: 0% 0% 0% 10%; 
}

#cart-icon {
    width: 40px;
    height: 40px;
    float: right;
    margin: 12% 12% 0% 0%;
}

/* Search Form */

#search-title {
    font-size: 500%;
    margin-top: 40%;
    color: white;
}

#search-form {
    margin-top: 15%;
    color: white;
}

.input-field label {
    color: white;
}

.input-field input:focus + label {
    color: white !important;
}

#keyword-search, #minprice-search, #maxprice-search {
    color: white;
    border-bottom: 1px solid white !important; 
}

#keyword-search:focus, #minprice-search:focus, #maxprice-search:focus {
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white;
}

#search-search {
    background-color: white;
    color: #20b88f;
    margin: 15% 0% 15% 0%;
}

#sidenav-keyword-search, #sidenav-minprice-search, #sidenav-maxprice-search {
    color: white;
    border-bottom: 1px solid white !important; 
}

#sidenav-keyword-search:focus, #sidenav-minprice-search:focus, #sidenav-maxprice-search:focus {
    border-bottom: 1px solid white !important;
    -webkit-box-shadow: 0 1px 0 0 white;
}

#sidenav-search-search {
    background-color: white;
    color: #20b88f;
    margin: 15% 0% 15% 0%;
}

.sidenav {
    background: #20b88f;
    color: white;
    font-family: 'Lato';
}

/* Media Queries */

/* 860px - Tablet */
@media screen and (max-width: 860px){

    .search-tagline {
        font-size: 30px;
    }

    /* Search Form */

    #search-title {
        font-size: 400%;
    }

    .input-field label {
        font-size: 90%;
    }

}

/* 780px - Tablet */
@media screen and (max-width: 780px) {
    
    /* Search Form */

    #gifty {
        font-size: 27px;
        /* padding: 0% 0% 0% 10%;  */
    }
    
    #cart-icon {
        width: 27px;
        height: 27px;
        margin: 15% 12% 0% 0%;
    }

    #input-search-responsive {
        width: 100%;
        margin: 10px 0px 10px 0px; 
    }

    .input-field label {
        margin: 0;
    }

    #search-title, #search-form {
        text-align: center;
    }

}

/* 600px - Phone */
@media screen and (max-width: 600px){

    /* Left Side of Page */

    #height-control {
        width: 100%;
    }

    .search-tagline {
        float: left;
        font-size: 30px;
        margin-bottom: 10%;
    }

    #hamburger {
        display: inline-block;
        float: right;
        margin-top: 4%;
        color: #20b88f;
    }

    #whitespace {
        display: block;
        margin: 0;
    }

    .sidenav {
        display: block;
    }

    /* Right Side of Page */

    .searchBarside {
        display: none;
    }
}


/********* Shopping Cart *********/

/* Header */

nav {
    height: auto;
    background-color: #34489f;
}

.btn-clear {
    background-color: #34489f;
}

.btn-clear:hover {
    background-color: #455fd4;
}

.cart-image {
    width: 150px;
    height: 150px;
}

.cart-title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#back-to-search {
    font-family: 'Lato';
    margin-right: 10%;
}

/* Item List */

.item-list {
    margin-top: 80px;
}

/* Media Queries */

/* 786px - Tablet */

@media screen and (max-width: 786px) {

    .cart-title {
        font-size: 30px;
        margin-top: 10px;
    }

    .nav-row {
        margin-bottom: 0px;
    }

    #back-to-search {
        margin: 0;
    }
}

/* 620px - Phone */

@media screen and (max-width: 620px) {

    .cart-title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
    
    .mobile-menu {
        /* clear: both; */
        text-align: center;        
    }
    
    .nav-row {
        margin-bottom: 0px;
    }
   
}