/* Landing Page */

#landing-pg {
    width: 100%;
    height: 100%;
    margin: 0;
}

#menu {
    background-color: #fc5e2e;
    height: 100%;
}

@font-face {
    font-family: 'Hensa';
    src:url("../Style\ Guide/Fonts/Hensa/Hensa.otf")
}

#logo {
    text-align: center;
    font-family: 'Hensa';
    color: white;
    font-size: 1500%;
}

#tagline {
    text-align: center;
    padding-top: 20px;
    font-family: 'Lato';
    color: white;
    font-size: 200%;
}

@media screen and (max-width: 600px){

    #image {
        display: none;
    }
    
    #menu {
        background-color: #fc5e2e;
        height: 100%;
        width: 100%;
    }

}

/* Shopping Cart */

nav {
    height: auto;
    background-color: #34489f;
}

.cart-title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.item-list {
    margin-top: 80px;
}

.test-border {
    border: gray thin solid;
}

@media screen and (max-width: 786px){
    .cart-title {
        font-size: 30px;
        margin-top: 10px;
    }

    .nav-row {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 620px){
    .cart-title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
    
    .mobile-menu {
        /* clear: both; */
        text-align: center;        
    }
    
    .nav-row {
        margin-bottom: 0px;
    }
   
}

/* Search Pg */

.searchBarside {

background-color: aqua;
color: antiquewhite;
text-align: center;
font-size: 45px;
font-weight: bold;
padding: 20px;
border: 24px;
}
